<div class="container-fluid">
  <div class="col-sm-12 col-md-4">
    <img class="img-responsive img-circle img-thumbnail" [src]="user.avatar_url">
  </div>
  <div class="col-sm-12 col-md-6">
    <dl class="row h4">
      <dt class="col-sm-3" translate>{{"user.login"}}</dt>
      <dd class="col-sm-9">{{user.login}}</dd>
      <dt class="col-sm-3" *ngIf="user.name" translate>{{"user.name"}}</dt>
      <dd class="col-sm-9" *ngIf="user.name">{{user.name}}</dd>
      <dt class="col-sm-3" *ngIf="user.email" translate>{{"user.email"}}</dt>
      <dd class="col-sm-9" *ngIf="user.email">{{user.email}}</dd>
      <dt class="col-sm-3" *ngIf="user.company" translate>{{"user.company"}}</dt>
      <dd class="col-sm-9" *ngIf="user.company">{{user.company}}</dd>
      <dt class="col-sm-3" *ngIf="user.blog" translate>{{"user.blog"}}</dt>
      <dd class="col-sm-9" *ngIf="user.blog">{{user.blog}}</dd>
      <dt class="col-sm-12"><a [href]="user.html_url" translate>{{"user.view"}}</a></dt>
    </dl>
  </div>
</div>
