<div class="container">
  <section class="spacing">
    <header class="h2" translate>
      {{"userSearchForm.title"}}
    </header>
    <div class="alert alert-danger" *ngIf="findUserError">
      {{'userSearchForm.error' | translate: {'userName': userName} }}
    </div>
    <form (submit)="findUser(); $event.preventDefault()">
      <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary"
                [disabled]="findUserError || !userNamePlaceholder"
                type="submit" translate>{{ "userSearchForm.search" }}</button>
      </span>
        <input type="text"
               class="form-control"
               (change)="onUserNameChange()"
               [placeholder]="'userSearchForm.userName' | translate"
               [(ngModel)]="userNamePlaceholder"
               name="name"
               id="name">
      </div>
    </form>
  </section>
  <section class="spacing" *ngIf="user">
    <app-github-user [(user)]="user"></app-github-user>
    <div class="alert alert-danger" *ngIf="findFollowersError">
      {{'userSearchForm.followersError' | translate: {'userName': userName} }}
    </div>
    <div class="container-fluid" *ngIf="followers != null && followers.length > 0">
      <header class="h2" translate>{{"user.followers"}}</header>
      <div class="col-md-2 col-sm-4" *ngFor="let follower of followers" >
        <app-github-follower [user]="follower"></app-github-follower>
      </div>
    </div>
  </section>
</div>
